<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Seller</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Intelligent eco-mobility solutions</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Alstom contributes through its commitments to a carbon-free future, by developing and promoting sustainable and innovative mobility solutions appreciated by passengers.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>A global player in the transport sector, in the digital era</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Whether high-speed trains, metros, monorails, trams, integrated systems, tailor-made services, infrastructure, signaling solutions or digital mobility, Alstom offers its various customers the the broadest portfolio in the sector. Present in 63 countries and with more than 80,000 employees of 175 nationalities, the Group focuses its expertise in design, innovation and project management where mobility solutions are most needed.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Healthier Mobility™</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">As a global leader and “pure player” in the field of transport and sustainable mobility, we have a great responsibility towards our customers, their passengers and their employees. Our mission is to restore confidence and promote sustainable and healthier mobility around the world.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4> Our sites in Fez</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Alstom produces Mitrac™ electrical cables and transformers in Fez, which are used in rolling stock delivered to customers around the world. The Fez plant is also one of only two Alstom-owned cabling facilities in the world, an important part of Alstom's global supply chai</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Alstom
                        <br />
                        development.
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>